<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>601571570566-o3uj9prt0t0brpc8jmo6nu8cgt8ghliq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPA_dO3SvnnuJ-9PVVh75kRwY6JjHryJI</string>
	<key>GCM_SENDER_ID</key>
	<string>601571570566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roofTopDemo</string>
	<key>PROJECT_ID</key>
	<string>demos-f2f3e</string>
	<key>STORAGE_BUCKET</key>
	<string>demos-f2f3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601571570566:ios:970b5a3a98d69df651b207</string>
</dict>
</plist>